.post{
    
     margin-top: 10px;
     
     justify-content: space-around;
    
}
p{
    font-weight: bold;
    padding: 5px;
    color: white;
    margin-top: 10px;
    background-color: rgb(145, 131, 131);
    cursor: pointer;
}
P:hover{
    background-color: red;

}
.btn{
    font-size: 30px;
}
.btn:hover{
    color: red;
}
 